* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
    font-family: 'Roboto', sans-serif;
}

div.container {
    height: 554px;
    width: 984px;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 116);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.lado {
    width: 50%;
    display: flex;
}

.lado1 {
    flex-direction: column;
}

.lado2 {
    flex-direction: column;
    align-items: flex-end
}


header {
    background-color: #fff;
    height: 17px;
}

footer {
    background-color: #fff;
    height: 20px;
}


div.placar {
    position: absolute;
    top: 45px;
    font-size: 50px;

    color: #fff;

    font-family: 'Arvo', serif;
  

}
div#placarjog2{
      
    left: 700px;
}
div#placarjog1{
      
    left: 630px;
}


div.player {
    height: 100px;
    width: 15px;
    background-color: #fff;
}

div.play1 {
    margin-left: 25px;
    margin-top: 210px;
    margin-bottom: 210px;
}

div.play2 {

    margin-right: 25px;
    margin-top: 210px;
    margin-bottom: 210px;
}


div.bola {
    width: 20px;
    height: 20px;

    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 51px;
    bottom: auto;
    left: 188px;
    right: auto;

}

/*
    começo y :51 px
    final y : 551 px

    começo x : 188 px
    final x : 1152px
*/